/* 상품페이지 */
/* 상품정보 */

section {
  height: 2500px;
}
.product {
  width: 100%;
  display: flex;
  padding-top: 40px;
}
.product img {
  width: 525px;
  height: 525px;
}

.productInfo {
  width: 695px;
  padding-left: 60px;
}
.productInfo h2 {
  font-size: 25px;
  margin-top: 25px;
}
#productPrice {
  font-size: 30px;
}
.productInfo hr {
  margin-top: 25px;
}
#productCategory a {
  margin: 0px;
  font-size: 15px;
  color: #afafaf;
  text-decoration: none;
}
#productCategory a:hover {
  color: #20c997;
}
#productCategory ion-icon {
  color: #afafaf;
  position: relative;
  top: 3px;
}
.productIcon {
  margin-top: 35px;
  color: #afafaf;
  display: flex;
  align-items: center;
}
.productIcon > ion-icon {
  margin-left: 20px;
}
.productIcon b {
  margin-left: 5px;
}
.productIcon > ion-icon:first-child {
  margin-left: 0px;
}
.productIcon a {
  position: relative;
  left: 425px;
  color: #afafaf;
  display: flex;
  align-items: center;
  text-decoration: none;
}
.product a:hover {
  color: red;
}
.productDetail {
  font-size: 20px;
  margin-top: 10px;
}
.productClass li {
  list-style-type: disc;
  color: #afafaf;
  margin-top: 25px;
  margin-left: 15px;
}
.productId li {
  margin-top: 25px;
  margin-left: 35px;
}

.productBtn {
  margin-top: 46px;
  display: flex;
  justify-content: space-between;
}
.productBtn button {
  width: 220px;
  height: 65px;
  background-color: #20c997;
  border: 0;
  color: white;
  font-size: 20px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}
#heartBtn button {
  background-color: #afafaf;
}
#heartBtn button:hover {
  background-color: #20c997;
}
#talkBtn button:hover {
  background-color: orange;
}
#fraudBtn button:hover {
  background-color: red;
}
.productBtn button:hover {
  cursor: pointer;
}
.productBtn b {
  margin-left: 7px;
}
.productIntro {
  display: flex;
  border: 1px solid #eeeeee;
  border-collapse: collapse;
}

.introContainer {
  padding-top: 40px;
  width: 790px;
  height: auto;
  border: 1px solid #eeeeee;
  border-left: 1px;
  border-bottom: 0px;
  margin-right: 30px;
  font-size: 20px;
  border-collapse: collapse;
}

.introContainer > h3 {
  padding-bottom: 30px;
  margin-left: 20px;
  font-size: 20px;
}
.introContainer > pre {
  margin-left: 20px;
}

#introTag {
  width: 790px;
  display: flex;

  box-sizing: border-box;
  border-collapse: collapse;
}
.introBox {
  text-align: center;
  width: 300px;
  height: 120px;
  border: 1px solid #eeeeee;
  border-left: 1px;
  border-bottom: 0px;
}
.introBox:last-child {
  border-right: 0px;
}
.introBox ion-icon {
  margin-top: 20px;
  color: #20c997;
}
.introBox a {
  text-decoration: none;
  color: #afafaf;
}
.introBox a:hover {
  color: #20c997;
  font-weight: bold;
}
.introBox p {
  color: #afafaf;
  margin-top: 15px;
}
.introBox span {
  position: relative;
  bottom: 3px;
  left: 3px;
}
.shopInfo {
  width: 530px;
  padding-top: 40px;
  height: auto;
  border-left: 1px;
  border-collapse: collapse;
}
.shopInfo > h3 {
  padding-bottom: 30px;
  font-size: 20px;
}
.shopProfile {
  display: flex;
  align-items: center;
}
#profile img {
  width: 80px;
  height: 80px;
  border: 1px solid #eeeeee;
  border-radius: 50%;
}
#userInfo {
  margin-left: 20px;
}
#userName {
  text-decoration: none;
  color: black;
  font-size: 20px;
}
#userName p {
  margin-top: -10px;
  margin-bottom: 25px;
}
#userName p:hover {
  color: #20c997;
}
#userProduct {
  text-decoration: none;
  color: #afafaf;
  font-size: 15px;
}
#userManner {
  display: flex;
  align-items: center;
  position: relative;
  left: 65px;
}
#userManner ion-icon {
  width: 80px;
  height: 80px;
  color: #20c997;
}
#userManner b {
  font-size: 30px;
}
#otherProduct {
  display: block;
  margin-top: 55px;
}
#opContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#opContent p {
  font-size: 22px;
}
#opContent a {
  text-decoration: none;
  color: #afafaf;
  margin-right: 10px;
}
#opContent ion-icon {
  position: relative;
  top: 3px;
}
#opContainer {
  display: flex;
  justify-content: space-evenly;
  margin-top: 30px;
}
#opContainer img {
  width: 130px;
  height: 130px;
  border: 1px solid white;
  border-radius: 10px;
}
.opProduct * {
  text-align: center;
  text-decoration: none;
}
.opPrice {
  font-weight: bold;
  margin-top: 15px;
  color: black;
}
.opName {
  color: #313030;
}

#comment {
  padding-top: 40px;
}
#comment hr {
  margin-top: 30px;
}
.cmtProfile {
  display: flex;
}
.cmtContainer {
  margin-top: 30px;
  margin-bottom: 30px;
}
.cmtProfile img {
  width: 55px;
  height: 55px;
  border: 1px solid white;
  border-radius: 50%;
}

.cmtUser {
  text-decoration: none;
  color: black;
  font-size: 22px;
  margin-top: 15px;
  margin-left: 20px;
}
.cmt {
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 15px;
}
.time {
  font-size: 13px;
  color: #afafaf;
}
.writeCmt {
  margin-left: 5px;
  text-decoration: none;
  font-size: 13px;
  color: #afafaf;
}

.reComment {
  margin-left: 70px;
}
#rcmtWriter {
  font-size: 18px;
  color: #20c997;
  font-weight: bold;
  border-radius: 30%;
}

#relateProduct {
  width: 1280px;
  padding-top: 60px;
}
#rpContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

.rProduct img {
  width: 240px;
  height: 240px;
}
.rProduct a {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: black;
}
.rProduct p {
  margin-top: 10px;
}
/* 이미지슬라이드 */
.imgSlide {
  width: 525px;
  height: 525px;
  position: relative;
  margin: 0 auto;
  overflow: hidden;
}
.imgSlide input[type="radio"] {
  display: none;
}

ul.imgs {
  padding: 0;
  margin: 0;
  list-style: none;
}
ul.imgs li {
  position: absolute;
  left: 525px;
  transition-delay: 0.5s;

  padding: 0;
  margin: 0;
}
.bullets {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 10px;
  z-index: 2;
}
.bullets label {
  display: inline-block;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.55);
  width: 15px;
  height: 15px;
  cursor: pointer;
  margin: 5px;
}
.imgSlide
  input[type="radio"]:nth-child(1):checked
  ~ .bullets
  > label:nth-child(1) {
  background-color: #20c997;
}
.imgSlide
  input[type="radio"]:nth-child(2):checked
  ~ .bullets
  > label:nth-child(2) {
  background-color: #20c997;
}
.imgSlide
  input[type="radio"]:nth-child(3):checked
  ~ .bullets
  > label:nth-child(3) {
  background-color: #20c997;
}
.imgSlide
  input[type="radio"]:nth-child(4):checked
  ~ .bullets
  > label:nth-child(4) {
  background-color: #20c997;
}
.imgSlide input[type="radio"]:nth-child(1):checked ~ ul.imgs > li:nth-child(1) {
  left: 0;
  transition: 0.5s;
  z-index: 1;
}
.imgSlide input[type="radio"]:nth-child(2):checked ~ ul.imgs > li:nth-child(2) {
  left: 0;
  transition: 0.5s;
  z-index: 1;
}
.imgSlide input[type="radio"]:nth-child(3):checked ~ ul.imgs > li:nth-child(3) {
  left: 0;
  transition: 0.5s;
  z-index: 1;
}
.imgSlide input[type="radio"]:nth-child(4):checked ~ ul.imgs > li:nth-child(4) {
  left: 0;
  transition: 0.5s;
  z-index: 1;
}
